## Milestone 2 

### Name         : Ayachit Madhukar  
### Course       : DSC540 
### Instructor  : Catherine Williams
### Date           : 17 Apr 2021

#### 1. Replace Headers 
#### 2. Format data into a more readable format
#### 3. Identify outliers and bad data
#### 4. Find duplicates
#### 5. Fix casing or inconsistent values
#### 6. Conduct Fuzzy Matching

In [2]:
## Setting up environemnt
import os
os.getcwd() 
import sys
sys.path.append('../data')

In [3]:
## loading required libraries/modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
## readng .csv file and creating dataframe
df = pd.read_csv("data/worldometer_coronavirus_summary_data.csv")

In [5]:
df.head()

,country,continent,total_confirmed,total_deaths,total_recovered,active_cases,serious_or_critical,total_cases_per_1m_population,total_deaths_per_1m_population,total_tests,total_tests_per_1m_population,population
0,Afghanistan,Asia,57364,2529.0,52005.0,2830.0,1124.0,1448,64.0,371724.0,9385.0,39607351
1,Albania,Europe,128518,2321.0,98269.0,27928.0,18.0,44697,807.0,585329.0,203569.0,2875341
2,Algeria,Africa,118645,3134.0,82704.0,32807.0,14.0,2668,70.0,230861.0,5192.0,44465491
3,Andorra,Europe,12581,121.0,11890.0,570.0,12.0,162625,1564.0,193595.0,2502456.0,77362
4,Angola,Africa,23549,554.0,22093.0,902.0,15.0,700,16.0,443086.0,13165.0,33655110

In [29]:
# Checking duplicate rows
df[df.duplicated()==True].shape

(0, 12)

In [33]:
# can be used to check data type mismatcg if exists
df.dtypes

country                            object
continent                          object
total_confirmed                     int64
total_deaths                      float64
total_recovered                   float64
active_cases                      float64
serious_or_critical               float64
total_cases_per_1m_population       int64
total_deaths_per_1m_population    float64
total_tests                       float64
total_tests_per_1m_population     float64
population                          int64
dtype: object

In [6]:
### Identifying key data with duplicate and Null values
print("Country is duplictaed - {}".format(any(df.country.duplicated())))
print("The column Country contains NaN - %r " % df.country.isnull().values.any())
print("The column population contains NaN - %r " % df.population.isnull().values.any())
print("The column total_tests contains NaN - %r " % df.total_tests.isnull().values.any())
print("The column total_cases_per_1m_population contains NaN - %r " % df.total_cases_per_1m_population.isnull().values.any())

Country is duplictaed - False
The column Country contains NaN - False
The column population contains NaN - False
The column total_tests contains NaN - True
The column total_cases_per_1m_population contains NaN - False

In [7]:
df.shape

(219, 12)

In [24]:
## Could have filtered data like below if  "Total_tests" is the key field for analysis

filter_null=pd.isnull(df.total_tests)
new_df=df[filter_null]
new_df.shape

(9, 12)

In [10]:
## Installing python-levenshtein
pip install python-levenshtein

Collecting python-levenshtein
  Downloading python-Levenshtein-0.12.2.tar.gz (50 kB)
     |████████████████████████████████| 50 kB 2.1 MB/s eta 0:00:01
Requirement already satisfied: setuptools in /Users/madhukarayachit/opt/anaconda3/lib/python3.8/site-packages (from python-levenshtein) (50.3.1.post20201107)
Building wheels for collected packages: python-levenshtein
  Building wheel for python-levenshtein (setup.py) ... done
  Created wheel for python-levenshtein: filename=python_Levenshtein-0.12.2-cp38-cp38-macosx_10_9_x86_64.whl size=81458 sha256=df370a3e1c128a6ef316b2ff6454dd83c7dbb33dcd298ab2694fd6bdde0b5592
  Stored in directory: /Users/madhukarayachit/Library/Caches/pip/wheels/d7/0c/76/042b46eb0df65c3ccd0338f791210c55ab79d209bcc269e2c7
Successfully built python-levenshtein
Installing collected packages: python-levenshtein
Successfully installed python-levenshtein-0.12.2
Note: you may need to restart the kernel to use updated packages.

### Fuzzy Matching

In [19]:
# Importing module
from Levenshtein import distance

In [18]:
# narrow down list of possible mannual errors by looking at distace between 1-3 for each entry. 
# With manual inspection of a shorter list did not find any mistake in country name 

for cntry in df.country: 
    #print(cntry)
    for c in df.country: 
        l=distance(c,cntry)
        if l>0 and l<3: 
            print(c , cntry ,l)

Nigeria Algeria 2
Cuba Aruba 2
Austria Australia 2
Australia Austria 2
Panama Canada 2
China Chile 2
Chile China 2
Ghana China 2
Togo Congo 2
Aruba Cuba 2
Namibia Gambia 2
Zambia Gambia 1
China Ghana 2
Guyana Ghana 2
Ghana Guyana 2
Ireland Iceland 1
Iraq Iran 1
Oman Iran 2
Iran Iraq 1
Iceland Ireland 1
Nigeria Liberia 2
Mali Malawi 2
Malawi Mali 2
Malta Mali 2
Mali Malta 2
Gambia Namibia 2
Zambia Namibia 2
Nigeria Niger 2
Algeria Nigeria 2
Liberia Nigeria 2
Niger Nigeria 2
Iran Oman 2
Canada Panama 2
Somalia Romania 2
Uganda Rwanda 2
Syria Serbia 2
Slovenia Slovakia 2
Slovakia Slovenia 2
Romania Somalia 2
Serbia Syria 2
Congo Togo 2
Rwanda Uganda 2
USA UK 2
UK USA 2
Gambia Zambia 1
Namibia Zambia 2